.navToggleWrapper {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.themeToggle {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  color: inherit;
  transition: color var(--base-transition-time) ease, transform 0.3s ease;
}

.themeToggle:hover {
  color: var(--hover-color);
}